<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hh.springsecurity.mapper.UserMapper">
    <resultMap id="userMap" type="com.hh.springsecurity.pojo.UserBean">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="mobilephone" column="mobilephone"/>
    </resultMap>
    <select id="findUserById" resultType="com.hh.springsecurity.pojo.UserBean">
        select * from u_user where id = #{id}
    </select>

    <select id="findAllUser" resultType="com.hh.springsecurity.pojo.UserBean">
        select * from u_user
    </select>

</mapper>
